
nav {
    
    display: flex;
    gap: 10px;
    /* align-items: center; */
    max-width: 1024px;
    margin: 0 auto;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 5px;
    
  }
  a{
    color: rgb(55, 51, 120);
    /* margin-left: auto; */
  }
  .navbar {

    position:fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    z-index: 1030;
    display: flex;
    justify-content: left;
    
  
  }
  
  .nav__link {
    font-size: o.8rem;
    color: var(--title-color);
    font-weight: 500;
    transition: 0.3s;
  }
  
  .nav__link:hover {
    color: hsl(43, 76%, 10%);
  }