
nav {
    
    display: flex;
    gap: 10px;
    /* align-items: center; */
    max-width: 1024px;
    margin: 0 auto;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 5px;
    
  }

  #check {
    display: none;
  }


  a{
    color: rgb(55, 51, 120);
    /* margin-left: auto; */
  }
  .navbar {

    position:fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    z-index: 1030;
    display: flex;
    justify-content: left;
    
  
  }

  .menu-btn {
    display: none;
  }
  
  .nav__link {
    font-size: o.8rem;
    color: var(--title-color);
    font-weight: 500;
    transition: 0.3s;
  }
  
  .nav__link:hover {
    color: hsl(43, 76%, 10%);
  }


  @media screen and (max-width: 1024px) {

    

     nav {
        position: relative;
        /* background-color: blue; */
        left: 0%;
        top: 0;
        border: none;
        margin-left: 15px;
        padding: 1rem;
        width: 50px;
        height: 1000vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        z-index: 110;
        transition: 0.3s;
    }
    .nav__link {
        display: none;
    }
    .menu-btn {
        display: flex;
        
        cursor: pointer;
      }
      #check:checked ~ .menu-btn{
        display: flex;
        position: relative;
        gap: 50px;
        line-height: 100%;
        /* left: -100%; */
        width: 140px;

      }
      #check:checked ~ .nav__link{
        display: flex;
        position: relative;
        left: -40%;
        height: 10px;
        width: 100px;
        /* border: blue; */
      }
      .div {
        /* background-color: blue; */
        z-index: 99000;
      }
  }